.grid(@gap, @col1, @col2, @row1, @row2){


    display: grid;
    grid-gap: @gap;

    grid-template-columns: repeat(@col1, @col2);

    grid-template-rows: repeat(@row1, @row2);



}


.alignCenter{
    justify-self: center;
    align-self: center;
}

.buttonNormal{
                a{
                    text-decoration: none;
                    color: white;
                }
                margin-bottom: 0;
                display: inline-block;
                text-decoration: none;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                touch-action: manipulation;
                cursor: pointer;
                user-select: none;
                background-image: none;
                border: 1px solid transparent;
                margin-top:25px;
                &:focus,
                &:active:focus{
                        outline: thin dotted;
                        outline: 5px auto -webkit-focus-ring-color;
                        outline-offset: -2px;
                    }

                &:hover,
                &:focus{
                        color: #333;
                        text-decoration: none;
                    
                    }
                &:active{
                        background-image: none;
                        outline: 0;
                        box-shadow: @shadowActiveSelect;
                    
                    }
                        
                width: 100%;
                min-height: 50px;
                margin-bottom: 0px;
                color: #fff;
                background-color: @colorSelect;
                border-color: darken(@colorSelect, 5%);
                border-radius: 2.5px;
                &:hover{
                    color: #fff;
                    background-color: darken(@colorSelect, 10%);
                    border-color: darken(@colorSelect, 8%);
                }

                &:focus{
                    box-shadow: @shadowFocusSelect;
                }


                font: @fontSelect;
}


.imgNormal{
    width: auto;
    max-height: 150px;
    border-radius: 8px;
    border: 1px solid @colorTurns;
    box-shadow: @niceShadow;
    padding: 5px;
}

.responsive{

    @media screen and (max-width: 768px){


        .contenedor{
    
            grid-template-areas:    "enemy      enemy       enemy"
    
                                    "player     player      player"
    
                                    "turns     turns        turns"
    
                                    "card1      card2       card3";
    
    
            .turns{
    

                .grid(5px, 2, 1fr, 3, 1fr);
    
                h2{
                    font-size: 2.0em;
                }
    
                h1{
                    font-size: 1.3em;
                }
    
                .titulo{
                    align-self: start;
                }
            
                grid-template-areas:    "titulo      titulo"
            
                                        "actual     quedan"
            
                                        "finalizar finalizar";
    
            
            }
    
        }
    
    }
}